doctype html
html
    head
        title= title
        meta(content="text/html;charset=utf-8" http-equiv="Content-Type")
        meta(content="utf-8" http-equiv="encoding")

        //link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet' href='./dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='./stylesheets/main.css')
        link(rel='stylesheet' href='./bootstrap-colorpicker-master/dist/css/bootstrap-colorpicker.min.css')
        
        script(src="https://cdn.socket.io/socket.io-1.2.0.js")
        script(src='//code.jquery.com/jquery-2.1.1.min.js')
        script(src='./dist/js/bootstrap.min.js')
        


    body(onload='init()')
        block content

        script(src='./bootstrap-colorpicker-master/dist/js/bootstrap-colorpicker.min.js')
        script(src='./slider/js/bootstrap-slider.js')
        //script(src='./javascripts/mouseController.js')
        script(src='./javascripts/drawController.js')
        script(src='./javascripts/roomController.js')
        script(src='./javascripts/userController.js')
        script(type='text/javascript').
            $('.dropdown-toggle').dropdown();
        script(type='text/javascript').
            $('.colourpicker').colorpicker();
