extends layout

block content
    body

        // navbar stuff
        div(class='navbar navbar-inverse navbar-fixed-top .topbar' role='navigation')

            div(class='container')

                div(class='navbar-header')
                    a(class='navbar-brand' href='#') Brainboard

                div(id='navbar')
                    ul(class='nav navbar-nav')
                        
                        li
                            a(href='#' id='createRoomBtn') Create Room
                        li
                            a(href='#' id='joinRoomBtn') Join Room
                        li
                            h3(href='#' id='roomNameLabel' class = 'label roomName label-default') No Room
                            
        // content
        div(class='container' onresize='resize_canvas()')
            div(class='row')
                div(id='sidebar' class='col-lg-1 sidebar')
                    ul(class='nav nav-sidebar')
                        li
                            a(href='#' class='colourpicker' data-toggle='dropdown') Colour

                        li(class='dropdown')
                            a(href='#' class='dropdown-toggle' data-toggle='dropdown') Thickness
                            ul(class='dropdown-menu' role='menu')
                                li(role='presentation')
                                    a(role='menuitem' href='#' id='thin') Thin
                                li(role='presentation')
                                    a(role='menuitem' href='#' id='medium') Medium
                                li(role='presentation')
                                    a(role='menuitem' href='#' id='thick') Thick
                        li
                            a(href='#' id='eraser') Eraser
                        li
                            a(href='#' id='clear') Clear
                        
                div(class='col-lg-offset-1 whiteboard')
                    canvas(id='whiteboard') Your browser does not support the HTML5 tag.
        
