extends layout

block content
	body

		// navbar stuff
		div(class='navbar navbar-inverse navbar-fixed-top' role='navigation')

			div(class='container')

				div(class='navbar-header')
					a(class='navbar-brand' href='#') Whiteboard

				div(id='navbar')
					ul(class='nav navbar-nav')
						li(class='dropdown')
							a(href='#' class='colourpicker' data-toggle='dropdown') Colour

						li(class='dropdown')
							a(href='#' class='dropdown-toggle' data-toggle='dropdown') Pencil
							ul(class='dropdown-menu' role='menu')
								li
									a(href='#') Thin
								li
									a(href='#') Medium
								li
									a(href='#') Thick

						li
							a(href='#') Menu

		// actual content
		div(class='container' onresize='resize_canvas()')
			canvas(id='whiteBoard' class='whiteboard' style='padding: 0px; margin: 0px; border: 0px; overflow: hidden; cursor: crosshair;' width='2370' height='978') Your browser does not support the HTML5 tag.