extends layout

block content
    body

        nav(id="navbar" class= "navbar navbar-default")
            .container-fluid
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    |         
                    span.icon-bar
                    |         
                    span.icon-bar
                    |         
                    span.icon-bar
                  |       
                  a.navbar-brand() LoLCoach
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav       
                    li(id='colour-preview' class='selectedColour')
                        a(class='colourpicker' data-toggle='dropdown')
                        span(class="badge navbadgeColor") 1
                    li(id='colour-preview2')
                      a(class='colourpicker2' data-toggle='dropdown') 
                        span(class="badge navbadgeColor") 2
                    li(id='colour-preview3')
                      a(class='colourpicker3' data-toggle='dropdown') 
                        span(class="badge navbadgeColor") 3
                    li(id='colour-preview4')
                      a(class='colourpicker4' data-toggle='dropdown') 
                        span(class="badge navbadgeColor") 4
                    | 
                    li(class='dropdown thickness')
                        a(data-toggle='dropdown' data-tooltip='tooltip' data-placement='bottom' title='Brush Size')
                            i(class='fa fa-tint fa-lg')
                        ul(class='dropdown-menu')
                            li
                                input(id='ex2' data-slider-id='ex2Slider' type='text' data-slider-min='1' data-slider-max='50' data-slider-step='1' data-slider-value='12')
                    li
                        a(id='drawButton' data-tooltip='tooltip' data-placement='bottom' title='Draw')
                            i(class='fa fa-pencil fa-lg')
                            span(class="badge navbadge") D
                    li
                        a(id='eraser' data-tooltip='tooltip' data-placement='bottom' title='Erase')
                            i(class='fa fa-eraser fa-lg')
                            span(class="badge navbadge") E

                    li
                        a(id='clear' data-tooltip='tooltip' data-placement='bottom' title='Clear')
                            i(class='fa fa-trash-o fa-lg')           
                            span(class="badge navbadge") C
                    

                  |       
                  ul.nav.navbar-nav.navbar-right
                    li(style = 'padding-top: 8px;')
                        input.navbar-form.navbar-left(type='text', placeholder='Video URL' id='videoURL') 
                    li      
                        a(id='loadVideo' data-tooltip='tooltip' data-placement='bottom' title='Load Video' style="border-color: rgba(214, 213, 213, 0.48); border-left-style: solid; border-right-style: solid;")
                             b Load
                    li
                      a(data-tooltip='tooltip' data-placement='bottom' title='Users' id='usersButton')
                          i(class='fa fa-users fa-lg')
                    li
                      a(data-tooltip='tooltip' data-placement='bottom' title='Sync Room' id='syncRoom')
                          i(class='fa fa-refresh fa-lg') 
                          span(class="badge navbadge") S
                    li
                      a(data-tooltip='tooltip' data-placement='bottom' title='Leave Room' id='leaveRoom')
                                i(class='fa fa-sign-out fa-lg')
                    
                // /.navbar-collapse
              // /.container-fluid

                            
        // content
        div(id='contentHolder')
            div(class='container')
                div(id='whiteboard-holder' class='whiteboard')
                    canvas(id='whiteboard') Your browser does not support the HTML5 tag.
            div(id='video-holder' class='container')
                div(id='video-container' class='video-container') 
                    iframe(width='1920' height='930' src='https://www.youtube.com/embed/3BRjf1xKUoo?rel=0&amp;controls=0&amp;showinfo=0;enablejsapi=1&html5=1;' frameborder='0' id='video')

            div(id="controlBar" class='container' style='background: black; padding-bottom: 10px; padding-top: 5px;') 
                    input(id='ex1' data-slider-id='ex1Slider' type='text' data-slider-min='0' data-slider-max='10000' data-slider-step='1' data-slider-value='0') 
                    div(class='row' style='padding-top: 10px;')
                        div(class ='col-sm-6')
                            div(class = 'col-sm-1')
                                a(id='PlayButton')
                                    i(id="playButtonIcon" class='fa fa-play fa-lg')
                            div(class = 'col-sm-1')
                                a(id='MuteButton')
                                       i(id="muteButtonIcon" class='fa fa-volume-up fa-lg') 
                            div(class = 'col-sm-4')
                                input(id='volumeSlider' data-slider-id='ex2Slider' type='text' data-slider-min='0' data-slider-max='100' data-slider-step='1' data-slider-value='75' data-slider-tooltip='hide' data-slider-scale='logarithmic')  
                            div(class  = 'col-sm-4')
                                a(id='slowDownButton')
                                       i(class='fa fa-fast-backward fa-lg')
                                a(id='normalizeButton')
                                       i(class='fa fa-caret-square-o-right fa-lg')
                                a(id='speedUpButton')
                                       i(class='fa fa-fast-forward fa-lg')
                        div(class ='col-sm-4')
                        div(class ='col-sm-2')
                            div(class ='col-sm-8')
                            div(class ='col-sm-4')
                                a(id='fullscreenButton' data-tooltip='tooltip' data-placement='top' title='Toggle Fullscreen')
                                    span(class='glyphicon glyphicon-fullscreen')           
        
        //load the scripts for this page
        link(rel='stylesheet' href='/stylesheets/main.css')
        link(rel='stylesheet' href='/stylesheets/controlbar.css')
        link(rel='stylesheet' href='/stylesheets/notif.css')
        script(src='/bootstrap-colorpicker-master/dist/js/bootstrap-colorpicker.min.js')
        script(src='/notify/notify.js')
        script(src='/bootstrap-slider/js/bootstrap-slider.js')
        script(src='/javascripts/drawController.js')
        script(src='/javascripts/roomController.js')
        script(src='/javascripts/youtubeController.js')
        script(src='/javascripts/inputController.js')
        script(src='/javascripts/notificationController.js')
        script(src='/javascripts/fullscreen.js')
        script(type='text/javascript').
            $('.dropdown-toggle').dropdown();
            $('[data-tooltip="tooltip"]').tooltip();
        script.
            console.log("room was entered");
