extends layout

block content
    body

        // navbar stuff
        div(class='navbar navbar-inverse navbar-fixed-top' role='navigation')

            div(class='container')

                div(class='navbar-header')
                    a(class='navbar-brand' href='#') Whiteboard

                div(id='navbar')
                    ul(class='nav navbar-nav')
                        li
                            a(href='#' class='colourpicker' data-toggle='dropdown') Colour

                        li(class='dropdown')
                            a(href='#' class='dropdown-toggle' data-toggle='dropdown') Thickness
                            ul(class='dropdown-menu' role='menu')
                                li(role='presentation')
                                    a(role='menuitem' href='#' id='thin') Thin
                                li(role='presentation')
                                    a(role='menuitem' href='#' id='medium') Medium
                                li(role='presentation')
                                    a(role='menuitem' href='#' id='thick') Thick
                        li
                            a(href='#' id='clear') Clear
                        li
                            a(href='#') Menu
                        li
                            a(href='#' id='createRoomBtn') Create Room
                        li
                            a(href='#' id='joinRoomBtn') Join Room
                        li
                            h3(href='#' id='roomNameLabel' class = 'label roomName label-default') no room
                            
        // content
        div(class='container' onresize='resize_canvas()')
            canvas(id='whiteboard' class='whiteboard' style='padding: 0px; margin: 0px; border: 0px; overflow: hidden; cursor: crosshair;' width='2370' height='978') Your browser does not support the HTML5 tag.
        