extends layout

block content
    body

        // navbar stuff
        div(class='navbar navbar-inverse navbar-fixed-top .topbar' role='navigation')

            div(class='container')

                div(class='navbar-header')
                    a(class='navbar-brand' href='#') Brainboard

                div(id='navbar')
                    ul(class='nav navbar-nav')
                        li(id='colour-preview')
                            a(class='btn colourpicker' href='#' data-toggle='dropdown') &nbsp;

                        li
                            a(class='btn' href='#thicknesses' data-toggle='collapse') Thickness

                        div(class='collapse' id='thicknesses')
                            div(class='thickness')
                                li
                                    a(class='btn' href='#' id='thin') Thin
                            div(class='thickness')
                                li
                                    a(class='btn' href='#' id='medium') Medium
                            div(class='thickness')
                                li
                                    a(class='btn' href='#' id='thick') Thick
                        li
                            a(class='btn' href='#' id='eraser') Eraser
                        li
                            a(class='btn' href='#' id='clear') Clear
                        li
                            a(href='#' id='createRoomBtn') Create Room
                        li
                            a(href='#' id='joinRoomBtn') Join Room
                        li
                            h3(href='#' id='roomNameLabel' class='label roomName label-default') No Room
                            
        // content
        div(class='container' onresize='resize_canvas()')
            div(class='row')                        
                div(class='whiteboard')
                    canvas(id='whiteboard') Your browser does not support the HTML5 tag.
        
