extends layout
block content
    body
        // Header
        header#top.header
          .text-vertical-center
            |             
            h3(class="passwordTitle") Enter the password for room 
            |             
            br
            |             
            div(class="password-field-container")
                input(id='usernameField' type="text" class="form-control" placeholder="Enter Username")
            div(class="password-field-container")
                input(id='passwordField' type="password" class="form-control" placeholder="Enter Password")
            a.btn.btn-dark.btn-lg(id ="joinRoomBtn") Join Room 
        script(src='/javascripts/passwordController.js')
        link(href='/stylesheets/password.css', rel='stylesheet')
