extends layout

block content
    body
        // Header
        header#top.header
          .text-vertical-center(style='color: white')
            img(src='./img/Logo.png', alt='logo')
            br
            .row.text-center
              .col-lg-10.col-lg-offset-1
                .row
                  .col-md-3.col-sm-6
                    .service-item
                      span.fa-stack.fa-4x
                        i.fa.fa-circle.fa-stack-2x
                        |                                 
                        i.fa.fa-desktop.fa-stack-1x.text-primary
                      |                                 
                      h4
                        strong Create Private Rooms
                      |                                 
                      p Create a private room below! 
                      |                                 
                  |                         
                  .col-md-3.col-sm-6
                    .service-item
                      span.fa-stack.fa-4x
                        i.fa.fa-circle.fa-stack-2x
                        |                                 
                        i.fa.fa-users.fa-stack-1x.text-primary
                      |                                 
                      h4
                        strong Share with Teammates 
                      |                                 
                      p As easy as sending a link. 
                      |                                 
                  |                         
                  .col-md-3.col-sm-6
                    .service-item
                      span.fa-stack.fa-4x
                        i.fa.fa-circle.fa-stack-2x
                        |                                 
                        i.fa.fa-youtube-square.fa-stack-1x.text-primary
                      |                                 
                      h4
                        strong Analyze Replays
                      |                                 
                      p Watch game replays directly from YouTube together. 
                      |                                 
                  |                         
                  .col-md-3.col-sm-6
                    .service-item
                      span.fa-stack.fa-4x
                        i.fa.fa-circle.fa-stack-2x
                        |                                 
                        i.fa.fa-flask.fa-stack-1x.text-primary
                      |                                 
                      h4
                        strong Learn Together 
                      |                                 
                      p Learn together and Conquer! 
                      |                                 
                // /.row (nested)
              // /.col-lg-10
            // /.row
            h3 Begin Here 
            |             
            div(class="password-field-container")
                input(id='usernameField' type="text" class="form-control" placeholder="Enter your name")
            br
            div(class="password-field-container")
                input(id='passwordField' type="password" class="form-control" placeholder="Create Room Password" onkeypress='handleKeyPress(event)')
            a.btn.btn-dark.btn-lg(id ="createRoomBtn" style="margin-top: 10px") Create Room 
        // Footer
    
    
        //load the scripts for this page
        script(src='/javascripts/splashController.js')
        link(href='/stylesheets/splash.css', rel='stylesheet')


