body {
    padding-top: 50px;
    overflow: hidden;
    background-color: #040404;
    font-family: 'Lato', sans-serif;
}

#ex1Slider .slider-selection {
    background: red;
}
#ex1Slider .slider-handle {
    background: black;
}
#ex2Slider .slider-selection {
    background: grey;
}
#ex2Slider .slider-handle {
    background-color: rgb(0, 174, 205);
}

.whiteboard {
    position: absolute;
    left: 0px;
    color: rgba(0, 0, 0, 0);
    cursor: url('../Cursors/circleCursor-15px.ico') 7 7, default;
    z-index: 100;
}

.navbar-collapse.collapse {
display: block!important;
}


.navbar {
    background-color: rgb(0, 174, 205);
    border: none;
}

.navbar .navbar-brand, .navbar .navbar-nav li a :not(#color-preview) {
    color: rgb(233, 233, 233);
}

.navbar .navbar-brand {
    font-weight: bold;
    margin-right: 30px;
}

.navbar .navbar-brand:hover {
    color: rgb(180, 180, 180);
}

.navbar .navbar-nav li a:hover {
    background-color: rgb(0, 200, 236);
}

.navbar #colour-preview {
    height: 30px;
    margin-top: 10px;
    border-radius: 4px;
}

.navbar li {
    margin: 0px 5px;
}

.navbar .thickness {
    margin-left: 15px;
}

.navbar .thickness li a {
    color: rgb(60, 60, 60);
}

.navbar .thickness li a:hover {
    color: inherit;
}

.navbar #eraser:active {
    background-color: blue;
}

.navbar #clear {
    margin-right: 20px;
}

.roomName {
    position: relative;
    left: 13px;
    top: 14px;
    font-size: 89%;
    font-weight: 100;
}

.roomName:hover {
    cursor: pointer;
}

.tooltip-inner {
    text-align: center;
}

.video-container {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
