.whiteboard {
    position: absolute;
    top: 51px;
    left: 0px;
    background-image: url(../images/seamless_paper_texture.png);
    cursor: crosshair;
}

.roomName {
    position: relative;
    left: 13px;
    top: 14px;
    font-size: 89%;
    font-weight: 100;
}
